.input {
  width: 100px;
  border-radius: 50px;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
}

.label {
  font-size: 17px;
}

.field {
  margin: 20px 20px;
}

form {
  margin: 100px;
  background-color: rgb(229, 223, 217);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}