{% extends "book_shop/hello.html" %}
{%load static%}

{% block extra_css%}
  <link rel="stylesheet" href="{% static 'book_shop/css/style.css' %}" >
{%endblock%}

{% block content %}

<form method="post" class="create-form">
  {% csrf_token %}
  <div class = "field">
    <span class="label">{{form.title.label_tag}}</span>
    {{form.title}}
  </div>

  <div class = "field">
    <span class="label">{{form.SNB.label_tag}}</span>
    {{form.SNB}}
  </div>

  <div class = "field">
    <span class="label">{{form.Author.label_tag}}</span>
    {{form.Author}}
  </div>

  <div class = "field">
    <span class="label">{{form.is_available.label_tag}}</span>
    {{form.is_available}}
  </div>
  
  <button>Submit</button>
  <p><a href= "{% url 'home'  %}">Home</a></p>
</form>

{% endblock%}